<div id="contentWrapper">
  <div id="female" class="genderPane">
    <div id="bestFemale" class="femaleTiles bestTile outfitTile">
        <%= image_tag "femaleTop.jpg" %>
        <%= image_tag "upvote.png" %>
        <%= image_tag "downvote.png" %>
        <%= image_tag "favorite.png" %>
    </div>
    <div class="femaleTiles">
      <% 4.times do |i| %>
      <div class="outfitTile">
        <%= image_tag "female#{i}.jpg" %>
        <%= image_tag "upvote.png" %>
        <%= image_tag "downvote.png" %>
        <%= image_tag "favorite.png" %>
      </div>
      <% end %>
    </div>
  </div>

  <div id="male" class="genderPane">
    <div id="bestMale" class="maleTiles bestTile outfitTile">
        <%= image_tag "maleTop.jpg" %>
        <%= image_tag "upvote.png" %>
        <%= image_tag "downvote.png" %>
        <%= image_tag "favorite.png" %>
    </div>
    <div class="maleTiles">
      <% 4.times do |i| %>
      <div class="outfitTile">
        <%= image_tag "male#{i}.jpg" %>
        <%= image_tag "upvote.png" %>
        <%= image_tag "downvote.png" %>
        <%= image_tag "favorite.png" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
