<div id="content_wrapper">
  <% ["fe", ""].each do |p| # awesome hack %> 
  <div id="<%=p%>male" class="gender_pane">
    <div id="best_<%=p%>male" class="<%=p%>male_tiles best_tile outfit_tile">
        <%= image_tag "#{p}maleTop.jpg", :class => "top_image" %>
        <%= image_tag "upvote.png", :class => "upvote_image" %>
        <%= image_tag "downvote.png", :class => "downvote_image" %>
        <%= image_tag "favorite.png", :class => "favorite_image" %>
    </div>
    <div class="<%=p%>male_tiles">
      <% 4.times do |i| %>
      <div class="outfit_tile">
        <%= image_tag "#{p}male#{i}.jpg" %>
        <%= image_tag "upvote.png" %>
        <%= image_tag "downvote.png" %>
        <%= image_tag "favorite.png" %>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
