<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3> <%= @outfit.name %> created by <%= @user.email %> </h3>
	</div>
	<div class="col-md-2">
	  <h3>Description</h3>
	</div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= link_to @outfit.image.url do %>
        <%= image_tag @outfit.image.url(:medium) %>
      <% end %>
	</div>
	<div class="col-md-3">
      <%= @outfit.description %>
	</div>
  </div>

  <div class="row">
  <div class="col-md-1">
    <%= render partial: 'vote_up' %>
    <%= render partial: 'vote_down' %>
  </div>
  </div>

  <div class="row">
    <h3>Tags:</h3>
    <button type="button" class="btn btn-md btn btn-default pull-down">
      <%= link_to "Add Tag", new_tag_path(:outfitid => @outfit.id) %>
    </button>
    <div>
    <% @tags.each do |t| %>
      <%= render t %>
    <% end %>
    </div>
  </div>
</div>
