<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3> <%= @outfit.name %> created by <%= @user.email %> </h3>
	</div>
	<div class="col-md-2">
	  <h3>Description</h3>
	</div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= link_to @outfit.image.url do %>
        <%= image_tag @outfit.image.url(:medium) %>
      <% end %>
	</div>
	<div class="col-md-3">
      <%= @outfit.description %>
	</div>
  </div>

  <div class="row">
  <div class="col-md-1">
     <%= link_to image_tag(outfit_upvote_css(@outfit).to_s + '.png'), outfit_vote_up_path(@outfit), method: :put, remote: true %>
     <%= link_to image_tag(outfit_downvote_css(@outfit).to_s + '.png'), outfit_vote_down_path(@outfit), method: :put, remote: true %>
  </div>

  </div>

  <div class="row">
    <h3>Tags:</h3>
    <% @tags.each do |t| %>
      <%= render t %>
    <% end %>
    <%= link_to "Add Tag", new_tag_path(:outfitid => @outfit.id) %>
  </div>
</div>
