<div class="container">
  <div class="row">
    <h3><%= @outfit.name %></h3>
    <h5><%= link_to @owner.username, user_profile_path(@owner.username) %></h5>
  </div>

  <div class="row">
  <% if @user_is_owner %>
    <%= link_to 'Delete', outfit_path(@outfit), class: "btn btn-md btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to 'Report', outfit_report_path(@outfit), class: "btn btn-md btn-default", method: :put, data: { confirm: 'Really report?' } %>
  </div>

  <div class="row">
    <%= link_to image_tag(@outfit.image.url(:medium)), @outfit.image.url %>
  </div>

  <div class="row">
    <%= render partial: 'vote_up' %>
    <%= render partial: 'vote_down' %>
  </div>

  <div class="row">
    <h3>Description:</h3>
    <p><%= @outfit.description %></p>
  </div>

  <div class="row">
    <h3>Tags:</h3>
    <%= link_to "Add Tag", new_tag_path(:outfitid => @outfit.id), class: "btn btn-md btn-default" if @user_is_owner %>
    <div>
      <% @tags.each do |t| %>
        <%= render t %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <h3>Comments</h3>
    <% @comments.each do |c| %>
    <%= render c %>
    <% end %>
    <hr />
    <%= form_for :comment, :url => comments_path do |f| %>
      <%= f.hidden_field :outfitid, :value => @outfit.id %>
      <%= f.text_area :content, :class => "form-control" %>
      <%= f.submit "Comment", :class => "btn btn-lg" %>
    <% end %>
  </div>
</div>
