<h1><%= @user.username %>'s Profile</h1>

<% @outfits.each do |o| %>
<div>
  <h2><%= link_to o.name, outfit_path(o) %></h2>
  <h3><%= o.gender %></h3>
  <h3><%= o.created_at %></h3>
  <p><%= o.description %></p>
  <%= image_tag o.image.url(:thumb) %>
</div>
<% end %>


