
<div class="container">
<h1 class="row"><%= @user.username %>'s Profile</h1>
<% @outfits.each do |o| %>
<div class="row well">
  <%= image_tag o.image.url(:medium), class: "col-md-2" %>
  <div class="col-md-3">
    <h2><%= link_to o.name, outfit_path(o) %></h2>
    <h3><%= o.gender %></h3>
  </div>
  <p class="col-lg-5"><%= o.description %></p>
</div>
<% end %>
</div>


