<div class="col-md-2 col-md-offset-2 well">
  <div class="row"><h4><%= tag.category %></h4></div>
  <div class="row">Color: <%= tag.color %></div>
  <div class="row">Pattern: <%= tag.pattern%></div>
  <div class="row">Brand: <%= tag.brand %></div>
  <%= link_to 'Delete', tag_path(tag), class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?'} %>
</div>
