<div class="row">
  <span class="column">Pattern: <%= tag.pattern %></span>
  <span class="column">Category: <%= tag.category %></span>
  <span class="column">Brand: <%= tag.brand %></span>
  <span class="column">Color1: <%= tag.primary_color %></span>
  <span class="column">Color2: <%= tag.secondary_color %></span>
</div>
