<div class="row">
  <span class="column">Pattern: <%= tag.pattern %></div>
  <span class="column">Category: <%= tag.category %></div>
  <span class="column">Brand: <%= tag.brand %></div>
  <span class="column">Color1: <%= tag.primary_color %></div>
  <span class="column">Color2: <%= tag.secondary_color %></div>
</div>
