<!DOCTYPE html>
<html>
<head>
  <title>CS397Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div id="logo">FASHION-CHECK.ME</div>
  <div id="main-menu-bar">
    <ul id="main-menu-list">
      <li class="main-menu-item">Log in</li>
      <li class="main-menu-item">Log out</li>
      <li class="main-menu-item">My Outfits</li>
      <li class="main-menu-item">Account</li>
      <li class="main-menu-item">Settings</li>
    </ul>
  </div>
</div>

<%= yield %>

</body>
</html>
