<!DOCTYPE html>
<html>
<head>
  <title>CS397Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <span id="logo" class="main-menu-item">fashion-check.me</span>
    <span class="main-menu-item">New</span>
    <span class="main-menu-item">Best Dressed</span>
    <span class="main-menu-item">My Profile</span>
    <span class="main-menu-item">Settings</span>
    <span class="main-menu-item">Log out</span>
    <input class="main-menu-item" value="Search..." />
  </div>

  <%= yield %>

</body>
</html>
